/* config main containers like body and app */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* screen and screen components */ 

.screen {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.screen button {
  font-size: 40px;
  background-color: rgba(255,255,255,0.8);
  border: 3px solid rgba(155,155,155,0.6);
  border-radius: 20px;
  margin: 5px;
  padding: 15px 25px;
}

.screen button:hover {
  background-color: rgba(255,255,255,1);
}

/* portrait components  */

.portrait-holder {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.portrait-img {
  z-index: -100;
  position: relative;
  max-height: 70%;
}

/* title screen components  */

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 100px;
}

.title h2 {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 50px;
}

/* dialogue screen components */

.dialogue-box {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  min-height: 100px;
  font-size: 30px;
  overflow-y: auto;
  background-image: linear-gradient(180deg, blue, rgba(155, 155, 255, 0.8), rgba(255,255,255,0.5));
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue-box p {
  margin: 20px 50px;
}

/* fillText component */

.fillText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* choices component */

.choices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.choices button {
  font-size: 40px;
  padding: 20px 40px;
}

.choices button:hover {
  background-color: rgba(155, 255, 155, 0.8);
}